.logo {	
    max-width: 7rem;	
    margin-left: 15px;	
    margin-right: 15px;	
}	
header {	
    text-align: center;	
    justify-content: center;	
}	
.bg-wine {	
    background-color: #960249;	
}	
h1 {	
    text-align: center;	
    padding: 2rem;	
    color: #cbcfb4;	
}	
body {	
    background-color: #cbcfb4;	
}	
.flechas {	
    max-width: 1rem;	
}	
.pad-4 {	
    padding-right: 4rem;	
    padding-left: 4rem;	
}	
.checksearch {	
    color: #ab6a6e;	
    padding-left: 3rem;	
}	
label {	
    margin-right: 10px;	
}	

.card {	
    text-align: center;	
}	
.precio {	
    text-align: left;	
}	
.divider {	
    height: 1rem;	
}	
footer {	
    padding-left: 5rem;	
    padding-right: 5rem;	
}	

    /*paleta de colores	
#85847e petróleo	
#ab6a6e vino	
#960249 fusia logo	
#353130 gris osucuro	
#cbcfb4 gris claro	
*/